body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
      padding: 20px;
    }

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
}

li {
  margin: 10px 0;
  padding: 8px;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
